{% extends "layout.html" %}
{% block style %}
{% endblock style %}

{% block content %}
<div class="w3-light-blue w3-opacity w3-center w3-padding-64">
  <div class="jb-table-width-80 jb-margin-center jb-text-align-fulljustifed">
      <br>
      <br>
      <h1 class="jb-text-align-left">FAQ</h1><br>
      <h4 class="jb-text-align-left">Can't find the answer you are looking for? We have shared some of our
        most frequently
        asked questions to help you out!</h4>
  </div>
</div>
{% endblock content %}